@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-pharmacy-light: #f0f9ff;
  --color-pharmacy: #0ea5e9;
  --color-pharmacy-dark: #0369a1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}